// Colors
$bg-color: #202124;
$text-color: #fafafa;
$color-light: #fafafa;
$color-dark: #202124;
$color-font-light: #fafafa;
$color-font-dark: #202124;
// Font
$font-family: 'Montserrat', sans-serif;
$font-size-lg: 2rem;
$font-size-md: 1.5rem;
$font-size-small: 1rem;
