.c-cards {
  padding: 1rem;
  @include flex(column, center, center);

  &__owner-name {
    padding: 0.5rem;
    font-weight: 400;
    @include flex(null, center, center);
  }

  &__owner-score {
    margin-left: 0.5rem;
    @include flex(column, center, center);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: $text-color;
    color: $bg-color;
  }
  &__container {
    display: flex;
  }

  &--disable {
    filter: grayscale(100%);
  }
}
