.c-info-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 1rem;
  @include box(50vh, 50vw);
  @include flex(column, center, center);
  color: $color-dark;
  background: $color-light;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  z-index: 2;

  @include respond(tablet) {
    @include box(60vh, 60vw);
  }

  @include respond(mobileL) {
    @include box(60vh, 90vw);
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;
    min-width: fit-content;
  }

  &__msg {
    text-align: center;
    line-height: 2;
  }

  &__btn {
    margin: 1rem;
    background: $color-dark;
    color: $color-light;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-dark;
    opacity: 0.5;
    z-index: 1;
  }

  &--active {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
}
