.c-info-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 5px;
  @include box(40vh, 40vw);
  @include flex(column, center, center);
  color: $color-dark;
  background: $color-light;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  z-index: 2;

  @include respond(tablet) {
    @include box(60vh, 60vw);
  }

  @include respond(mobileL) {
    @include box(60vh, 90vw);
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 1rem;
  }

  &__msg {
    // max-width: 25vw;
    text-align: center;
    line-height: 2;
    padding: 1rem;
  }

  &__btn {
    background: $color-dark;
    color: $color-light;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-dark;
    opacity: 0.1;
    z-index: 1;
  }

  &--active {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
}
