.c-game-result {
}
.c-info-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #333;
  background: #fafafa;
  transition: 0.2s ease-in-out;
  transform: scale(0);
  visibility: hidden;
  z-index: 2;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
  }

  &__msg {
  }

  &__btn {
    background: #333;
    color: #fafafa;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    opacity: 0.2;
    z-index: 1;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
  }
}
