.c-round-history {
  border-radius: 5px;
  color: $color-dark;
  background: $color-light;
  animation: scale 1000ms linear both;

  &__title {
    padding: 0.5rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
  }

  &__item {
    margin: 0.5rem;
    animation: scale 1000ms linear both;
  }

  &__cards {
    display: flex;
    padding: 0.5rem 0;
  }

  &__cards-container {
    display: flex;

    align-items: center;
  }

  &__dealer-cards {
    margin-right: 0.5rem;
  }
  &__player-cards {
    margin: 0 0.5rem;
  }

  &__img {
    width: 1rem;
    transition: 0.2s ease-in-out;

    &:hover {
      width: 3rem;
    }
  }
}
