.c-round-history {
  border-radius: 5px;
  color: $color-dark;
  background: $color-light;
  z-index: 2;

  &__title {
    padding: 0.5rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
  }

  &__item {
    margin: 0.5rem;
  }

  &__dealer-cards {
    margin-right: 0.5rem;
  }
  &__player-cards {
    margin: 0.5rem;
  }

  &__img {
    width: 1rem;
    transition: 0.2s ease-in-out;

    &:hover {
      width: 3rem;
    }
  }

  &__show-history-btn {
    margin: 0 0.2rem;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
  }
}
