* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include respond(tablet) {
    font-size: 70%;
  }
  @include respond(mobileL) {
    font-size: 63%;
  }
}

body {
  background: $color-dark;
  color: $color-light;
  font-family: $font-family;
}

.c-main-container {
  @include flex(column, center, center);
  min-height: 100vh;

  &__aligner {
    padding: 1rem;
    display: flex;
    align-items: center;
    @include respond(mobileL) {
      flex-direction: column;
    }
    &:empty {
      display: none;
    }
  }
}

.c-btn {
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  background: $color-light;
  color: $color-dark;
  margin: 0.2rem;
  cursor: pointer;
  transition: 0.2s ease;
  transform: scale(1);

  &:active {
    transform: translateY(5px);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    display: none;
  }
}
