* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%; // 1rem = 10px

  @include respond(tablet) {
    font-size: 61%;
    // color: green;
  }
  @include respond(mobileL) {
    font-size: 59%;
  }
}

body {
  background: $color-dark;
  color: $color-light;
  font-family: $font-family;
}

.c-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.c-btn {
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 5px;
  font-family: inherit;
  // color: inherit;
  font-size: inherit;
  margin: 0.2rem;
  cursor: pointer;
  transition: 0.2s ease;
  transform: scale(1);

  &:active {
    transform: translateY(5px);
  }

  &:hover {
    transform: scale(1.1);
  }
}
