.c-game-table {
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 4rem;
  box-shadow: inset 4px 4px 10px rgba($color: #000000, $alpha: 0.1),
    inset 4px 4px 10px rgba($color: #000000, $alpha: 0.1);
}
